# what is python
* python is simple and easy
* free and open source
* high level language
* developed by guido van rossum
* portable
 # branch where python is used
 * machine learning
 * web dev
 * games
 * data science

In [ ]:
#first printing program
print("hello world")   #print is a function in python
# functions purpose is to complete a task/work

# python character set
* letters A-Z,a-z
* digits 0-9
* special symbols =,-,+,#,/etc
* whitespaces -blank space,tab,carrige return,newline,formfeed
* other char- python can proccess all ASCII and unicode chars

In [2]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [3]:
x=5
id(x)

140733159582264

In [5]:
name="teju"
print(id(name))

2499931407776

In [13]:
#pyhton comments
# is a single line comment

# variables
* A variable is a name given to a memory location in a program
  # rules for an identifier
* can be a combination of upercase, lowercase,digits or an underscore
* an identifier can not start with a digit or number
* can't use special symbols
* identifiers can of any length
* Can not use any kind of reserved 35 keywords

In [6]:
name="teju"
age=19
print(name,age)
print("my name is:",name, "and my age is",age)

teju 19
my name is: teju and my age is 19

# data types in python
* integer
* float
* string
* boolean
* none

### integer
* primary numeric type in python

In [11]:
# data types in python

a=20
print(type(a))
print(a)

<class 'int'>
20

### string

In [4]:

name="""
this is a multi line string
"""
print(name)

this is a multi line string

In [5]:
val='teju'
val1="123"
print(val)
print(val1)
print(type(val1))


# here val1=123 is a string as its within " "

teju
123
<class 'str'>

### Boolean

In [17]:

a=True  # True and Flase 1st letter shd always be in capital
print(a)
print(type(a))

True
<class 'bool'>

In [19]:
#None
val=None
print(val)
print(type(val))

None
<class 'NoneType'>

## taking input from the user

In [20]:

name=input()

 tejaswini

In [22]:
print(name)
print(type(name))

tejaswini
<class 'str'>

In [23]:
#taking num as input
x=input()

 43536

In [24]:
print(x)
print(type(x))

43536
<class 'str'>

In [25]:
#taking num as input     #if u want the val as in we sg
x=input()

 45

In [26]:
print(x)
print(type(x))

45
<class 'str'>

## data type conversion

In [30]:

y=423
print(y)

423

In [31]:
x=float(y)

In [32]:
print(y)
print(type(y))

423
<class 'int'>

In [35]:
 # if x=("1.5") we can not convert it into int directly from string 
#as its a float value. 1st we need to convert it to float and then to int
x=("1.5")
print(x)
print(type(x))

1.5
<class 'str'>

In [38]:
y=float(x)
print(y)
print(type(y))

1.5
<class 'float'>

In [42]:
int(y)
print(int(y))
print(type(int(y)))

1
<class 'int'>

In [2]:
#printing multiple values using print function 
print("rahul","rohit","romi",23,24,25,)

rahul rohit romi 23 24 25

In [4]:
print("rahul",24)
print("rohit",25)

rahul 24
rohit 25

In [5]:
#changing from by default to user value
#sep is used to separate the output using any characters
print("rahul","rohit","romi",23,24,25)

rahul rohit romi 23 24 25

In [6]:
print("rahul","rohit","romi",23,24,25,sep=",")

rahul,rohit,romi,23,24,25

In [7]:
print("rahul","rohit","romi",23,24,25,sep="-->")

rahul-->rohit-->romi-->23-->24-->25

In [8]:
print("rahul","rohit","romi",23,24,25,sep="\n")

rahul
rohit
romi
23
24
25

In [16]:
#changing default value of separator
# end parameter is used with the print() function to control what is
#printed at the end of the output, instead of the default newline (\n).
print("rahul",28,end="--> ")
print("anjali",26)
print("rohit",25,end="-->")
print("pooja",22)

rahul 28--> anjali 26
rohit 25-->pooja 22

In [18]:
print("rahul",28,sep="\n",end="--> ")
print("anjali",26)
print("rohit",25,sep="\n",end="-->")
print("pooja",22)

rahul
28--> anjali 26
rohit
25-->pooja 22

In [19]:
print("hello","rahul",end=" ")
print("r u exited")

hello rahul r u exited

# python operators
* an operator in a programming language is a symbol that performs 
* specific mathematical,logical operation & produces final rasult
* X+Y ( here x,y are operends, + is an operator and x+y is an expression)

## arithmetic operators
*  addition - (+)
*  sub - (-)
*  mul - (*)
*  div - (/) true division includes foting points
*  mod - (%) reminder after divisin
*  floor div - (//) integer division
*  to the power - (**)
* div operator always returs a float value

In [22]:
a=10
b=5

In [23]:
a+b

15

In [24]:
a-b

5

In [25]:
a*b

50

In [27]:
a/b

2.0

In [31]:
a//b #doesn't yield a float value

2

In [32]:
a**b

100000

In [48]:
#string concatination
first="peddireddy "
last="tejaswini "

In [49]:
print(first + last)

peddireddy tejaswini

In [50]:
print("1"+"1")

11

In [53]:
#string multiplication
last *3
# doesnt work for str to str multiplication
#last*last

'tejaswini tejaswini tejaswini '

In [54]:
# modulas %: gives the remainder
print(a,b)

10 5

In [55]:
a%b

0

In [58]:
print(5%3)

2

In [60]:
# floor div //, results floored to nearest smaller integer
print(a,b)

10 5

In [61]:
a//b

2

In [62]:
5//3

1

In [63]:
# this operaators results the smalles integer on the 
#number line which loes on the left side
print(-3//2)

-2

In [64]:
#power operator
print(5**3)

125

In [65]:
3**2

9

# comparision operators , results boolean values

* < lessthan, >greater than
* <= lessthan equal to,>= greater than or equal to

## Equality operators
* is -same identity
* is not - different identity
* == true if equal to
* != true if not equal to

In [1]:
a=6
b=4
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a is b)
print(a is not b)

False
True
True
False
False
True


# Assignment operators
* = (
* -=
 * +=
* /=
* *=

In [79]:
a=5
a

5

In [80]:

a=a*3
a

15

In [85]:
# a =a+3 is same as a+=3
a=3
a+=3
a

6

In [86]:
a-=3
a

3

In [87]:
a*=3
a

9

In [88]:
a/=3
a

3.0


# Logical operators
* not - unary negation
* and - conditional and
* or - conditional or


works on bool values and return boolean values

In [89]:
2>3 and 3>4

False

In [93]:
2>3 or 6>4

True

In [96]:
not 3>4

True

In [95]:
not True

False


# special operators
* in (membership )
* is

In [101]:
#  in operatoe tells u if a obj is a part of another obj
name='chaithu teju'
'r' in name

False

In [102]:
"c" in name

True

In [103]:
"teju" in name

True

In [108]:
# is operator tells u if both the objs are at same memory location
a=5
b=5
print(id(a), id(b), sep=" , ")

140733078907448 , 140733078907448

In [109]:
a is b

True

In [110]:
a=345
b=346
print(id(a), id(b), sep=" , ")

1895969734288 , 1895969732976

In [118]:
a is b

False

In [119]:
# MODULE 6---CONTROL STATEMENTS

# sintax for if else

In [126]:
age=int(input())
if age>18:
     print("you r eligible")
     print("drive slow")
else:
    
    print("no")

 21

you r eligible
drive slow

In [141]:
# nested if -else
age=int(input())
if age>18:
   
   if age>65:
     print("age crossed not eligible")
   else:
      print("you are eligible")
      print("drive slow")
else:
    
    print("wait till u turn 18")

 456

age crossed not eligible

In [134]:
#if,elif,else
#elif condition is used to include multiple conditional 
#expressions after the if condition

In [140]:
n=int(input())
if (n>0):
    print(" natural numbers")
    print("positive")
elif (n==0):
    print("whole number")
else:
    print("integer")
    print("negative")

 -22

integer
negative

In [162]:
# FIND MAXIMUM IN A LIST
marks=[90,30,100,50,80,95]
max_i=marks[0]
for i in marks:
    if i>max_i:
        max_i=i

print( max_i)

100

In [163]:
(max(marks))

100

In [169]:
# GRADING SYSTEM
marks = int(input("Enter your marks: "))

if marks >= 60 and marks < 70:
    print("Grade D")
elif marks >= 70 and marks < 80:
    print("Grade C")
elif marks >= 80 and marks < 90:
    print("Grade B")
elif marks >= 90:
    print("Grade A")
else:
    print("Fail")

Enter your marks:  33

Fail

## Bitwise operators

* ~ -   bitwise complement
* &  - bitwise and
* | -  bitwise or
* ^  - bitwise exclusive or
* <<  - shift bits left, filling in with zeros
* (>>) - shift bits right,filling in with sign bit