# strings
* sequence of character
* char can be
   * alphabets (caps or small)
   * digits (0-9)
   * white spces
   * special characters
* they can be defined by using single,double or triple quotes

ASCII values a to z(97 - 122)
             A to Z (65 -90)

In [1]:
s1='tejaswini'
type(s1)

str

In [2]:
# ORD AND CHR
# ord to find the values associated with the character
#Converts a character into its Unicode integer representation.
ord('a')

97

In [3]:
ord('A')

65

In [4]:
#chr():Converts an integer  into its corresponding character.
chr(520)

'Ȉ'

In [5]:
chr(2345)

'ऩ'

### indexing in a string

In [6]:

name='tejaswini'    #indexing starts 0

name[0]

't'

In [7]:
name[-1]

'i'

In [8]:
len(name) #returns the total length of the string

9

In [9]:
s=len(name)
print(name[-s])
print(s)

t
9

# string slicing 
* ### s [ start : stop ]
* ### s [ start : stop : step]
    *  step indicates the values not to include

In [10]:
# string slicing
name='tejaswini' 
name[0:4]   #name=tejaswini

'teja'

In [11]:
a='tejaswini'
a[0:4:2]

'tj'

In [12]:
name='tejaswini' 
name[2:6]

'jasw'

In [13]:
 # name[start:end:jump]
print(name[::2])
print(name[::])

tjsii
tejaswini

In [14]:
#negative indexing
name[-1:0]

''

In [15]:
name[-1:0:-1]

'iniwsaje'

In [16]:
name[::-1]

'iniwsajet'

In [17]:
name[0:-1:-1]

''

In [18]:
name[-1:-(len(name)+1):-1]

'iniwsajet'

#  String Metods
* capitalize
* title
* upper
* lower
* find
* count
* index
* replace
* split
* islower
* isupper
* isnumeric
* isalpha

In [19]:
book='can we be strangers again '

In [20]:
book.capitalize()

'Can we be strangers again '

In [21]:
book.title()

'Can We Be Strangers Again '

In [22]:
book.upper()

'CAN WE BE STRANGERS AGAIN '

In [23]:
book.lower()

'can we be strangers again '

In [24]:
book.find?

Docstring:
S.find(sub[, start[, end]]) -> int

Return the lowest index in S where substring sub is found,
such that sub is contained within S[start:end].  Optional
arguments start and end are interpreted as in slice notation.

Return -1 on failure.
Type:      builtin_function_or_method

In [25]:
book.find('w')

4

In [26]:
book.count('a')

4

In [27]:
book.index('a')

1

In [28]:
book.replace('c','C')

'Can we be strangers again '

In [29]:
book.split()

['can', 'we', 'be', 'strangers', 'again']

In [30]:
book.split('a')

['c', 'n we be str', 'ngers ', 'g', 'in ']

In [31]:
book.isupper()

False

In [32]:
book.islower()

True

In [33]:
book.isnumeric()

False

In [34]:
#.isalpha() checks if all characters in the string are alphabetic 
#(A–Z or a–z) and there are no spaces, digits, or symbols.
book.isalpha()

False

In [35]:
name='teju'
name.isalpha()

True

In [36]:
# STRING FORMATTING
name=input()
age=input()
print("my name is",name,"and my age is",age)

 tejaswini
 20

my name is tejaswini and my age is 20

In [37]:
name=input()
age=input()
print("my name is {}, and my age is {}.".format(name,age))

 teju
 20

my name is teju, and my age is 20.

In [38]:
name=input()
age=input()
print("my name is {name}, and my age is {age}.")

 teju
 19

my name is {name}, and my age is {age}.

In [39]:
name=input()    #adv level of formatting avove python 3.6 version
age=input()
print(f"my name is {name}, and my age is {age}.")

 teju
 19

my name is teju, and my age is 19.

### STRING CONCATINATION

In [40]:

# ADDS STRING TOGETHER

first=input()
last=input()
print(first+last)

 teju
  Reddy

teju Reddy

In [41]:
'2'+'2'+'2'

'222'

In [42]:
#print all vowels of a given string
text="the quick brown fox jumps over the lazy dog"
for i in text:
    if (i=='a' or i=='e' or i=='i' or i=='o' or i=='u'):
        print(i,end=",")
    else:
        continue

e,u,i,o,o,u,o,e,e,a,o,

# challange: find if a string is a palindrome
* a strign is said to be palindrome if the reverse of the string is the same as string
* for example, "radar" is a palindrome

In [43]:
string=input()
if string[:] == string[::-1]:
    print(f"the given string {string} is a palindrome")
else:
    print(f"the given string {string} is not a palindrome")

 malayalam

the given string malayalam is a palindrome

In [44]:
Name = 'Rahul'
print(Name[::-1])

luhaR

In [45]:
import string

def set_operation(sent1, sent2):
    ''' 
    input: sent1, sent2 - two sentences taken as inputs
    output: return the sum of the total number of unique words from both sentences.
    '''
    
    # Helper function to clean the sentence and split into words
    def get_words(sentence):
        # Convert sentence to lowercase and remove punctuation
        sentence = sentence.lower().translate(str.maketrans('', '', string.punctuation))
        words = sentence.split()
        return words
    
    # Get words from both sentences
    words1 = get_words(sent1)
    words2 = get_words(sent2)

    # Create a set from words in each sentence to count unique words
    unique_count1 = len(set(words1))  # set removes duplicates from words1
    unique_count2 = len(set(words2))  # set removes duplicates from words2

    # Return the sum of the unique word counts from both sentences
    return unique_count1 + unique_count2